<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Chat</title>

</head>
<body  class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-25 p-3" style="background-color: #eeeeee; margin-top: 5em;" >
<form th:object="${chatForm}" action="#" th:action="@{/chat}" method="POST">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}">
    <div><label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{messageType}">
        <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    </div>
    <div>
    <input id="submitMessage" type="submit">
    </div>
</form>
</div>
<div class="container justify-content-center w-25 p-3" style="background-color: #eeeeee; margin-top: 5em;" th:each="chatMessage : ${chatMessages}">
    <span class="chatMessageUsername" th:text="${chatMessage.username}">Username</span>: <span class="chatMessageText" th:text="${chatMessage.messageText}">Hello, world!</span>
</div>
</body>
</html>